.card-employee {
  height: 405px;
  margin-right: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;

  @media screen and(max-width:720px) {
    margin-bottom: 30px;
    margin-right: 0;
  }


  img {
    width: 100%;
  }

  &__description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -70px;
    width: 80%;
    background-color: white;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);

    .description__header {
      font-family: $ysv;
      font-size: 18px;
      line-height: 25px;
      color: #363636;
      padding-top: 20px;
    }

    .description__text {
      font-family: $book;
      font-size: 18px;
      line-height: 26px;
      text-align: center;
      color: #959595;
      margin: 0;
    }

    .button-type1 {
      margin-top: 10px;
      display: block;
      width: 236px;
      height: 44px;
      font-size: 13px;
      line-height: 44px;
    }
  }
}

.card-person:last-child {
  margin-right: 0;
}