@font-face {
  font-family: "Futura Demi C";
  src: url("/src/assets/fonts/futurademic.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Futura Book C";
  src: url("/src/assets/fonts/futurabookc.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Futura Demic Italic";
  src: url("/src/assets/fonts/futurademic-italic.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Futura Medium C";
  src: url("/src/assets/fonts/futuramediumc.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}