.design-project {
  padding-top: 80px;


  &__header {
    margin: 0;
    margin-bottom: 30px;
    color: black;
    font-size: 20px;
    text-transform: uppercase;
  }

  &__text {
    margin-top: 25px;
    font-family: $book;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #363636;
  }

  &__block {
    padding-top: 80px;
    justify-content: flex-start;

    @media screen and(max-width:720px) {
      justify-content: center;
    }

    flex-wrap: wrap;
  }
}