.projects {
  padding-top: 70px;
  width: 100%;
  display: grid;
  grid-template: 24fr 46fr 482px/60fr 80fr;
  background: $body-bg-color;

  @media screen and (max-width: 900px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .projects-completed {
    width: 442px;
    margin-left: 50px;
    grid-column: 1;
    grid-row: 3;
    display: grid;
    grid-template: 8fr 10fr 10fr 10fr 20fr 20fr/auto;

    @media screen and (max-width: 900px) {
      width: auto;
      display: flex;
      flex-direction: column;
      margin-left: 0;
      padding: 0 10px;
    }

    &__header {
      margin: 0 auto;
      margin-bottom: 22px;
      font-family: $ysv;
      font-size: 27px;

      @media screen and (max-width: 720px) {
        font-size: 22px;
      }

      font-weight: 500;
      letter-spacing: -0.07em;
      text-transform: uppercase;
      color: $golden;
    }

    &__text {
      margin: 0 auto;
      margin-bottom: 36px;
      grid-row: 3;
      font-family: $book;
      line-height: 29px;
      font-size: 18px;

      @media screen and (max-width: 720px) {
        font-size: 14px;
        line-height: 158.48%;
      }

      color: #FFFFFF;
      text-align: center;
    }

    .projects-completed__info {
      grid-row: 5;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: flex-start;
      margin-bottom: 50px;

      @media screen and (max-width: 720px) {
        justify-content: center;
        margin-bottom: 20px;
      }

      .info-section {
        width: 160px;

        &__header {
          font-family: $ysv;
          color: $golden;
          font-size: 18px;

          @media screen and (max-width: 720px) {
            font-size: 14px;
          }

          font-weight: 500;
          text-transform: uppercase;
          margin: 0;
        }

        &__text {
          font-family: $book;
          font-size: 15px;
          color: #FFFFFF;
        }
      }

    }

    .info-controls {
      @media screen and (max-width: 900px) {
        display: none;
      }
    }
  }

  .projects-navigation {
    grid-column: 2;
    display: flex;
    height: 100%;
    align-items: center;

    @media screen and (max-width: 900px) {
      display: none;
    }

    &__link {
      margin-right: 50px;
      font-family: $ysv;
      font-size: 14px;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.3);

      &:hover {
        color: $golden;
        text-decoration: underline;
      }

      &--active {
        color: $golden;
        text-decoration: underline;
      }

    }
  }

  .projects-conteiner-slaider {
    height: 100%;

    @media screen and (max-width: 900px) {
      width: 80%;
    }

    grid-column: 2;
    grid-row: 3;
    flex-direction: row;
    justify-content: end;
    align-items: start;
    overflow: hidden;
  }

  .slider__img {
    width: 100%;
    margin-right: 10px;
  }

}