.styles {
  width: 100%;
  border: 1px solid red;
  //delete
  height: 865px;
  margin-bottom: 215px;
  background: linear-gradient(121.26deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%),
    no-repeat url("../assets/images/image-5.1.png");
}