@import "base/typography";
@import "base/conteiner-flex";


@import "abstracts/variables";


@import "components/buttons";
@import "components/form";
@import "components/card";
@import "components/info-controls";

@import "layout/header";
@import "layout/turnkey-repair";
@import "layout/projects";
@import "layout/online-control";
@import "layout/types-repair.scss";
@import "layout/mesuarement.scss";
@import "layout/styles";
@import "layout/design-projest";
@import "layout/steps";
@import "layout/our-team";
@import "layout/our-clients";
@import "layout/questions";
@import "layout/location";
@import "layout/footer";

* {
  margin: 0;
}

a {
  text-decoration: none;
}

input,
button {
  border: none;
  outline: none;
}

input {
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
}

.wrapper {
  max-width: 1438px;
  margin: 0 auto;
  position: relative;
}

.wrap-body-bg {
  width: 100%;
  height: 1615px;
  background: $body-bg-color;
  padding-top: 250px;
  justify-content: flex-start;
}