@import "base/typography";
@import "base/conteiner-flex";

@import "abstracts/variables";



@import "components/buttons";

@import "layout/header";
@import "layout/turnkey-repair";
@import "layout/projects";
@import "layout/online-control";

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1438px;
  margin: 0 auto;
  position: relative;
}